<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <%- include('../partials/navbar') %>

    <h3>All Users</h3>
<ul>
    <% if (users && users.length > 0) { %>
        <% users.forEach(user => { %>
            <li>
                <span><%= user.username %> - <%= user.role %></span>
                <% if (user.role !== "admin") { %>
                    <form action="/admin/make-admin" method="POST">
                        <input type="hidden" name="userId" value="<%= user._id %>">
                        <button type="submit" class="btn">Make Admin</button>
                    </form>
                <% } %>
            </li>
        <% }) %>
    <% } else { %>
        <p>No users found.</p>
    <% } %>
</ul>
</body>
</html>
    
        