
    <div class="navbar">
        <a href="/admin">Dashboard</a>
        <a href="/manageusers">Manage Users</a>
        <a href="/create-task">Create Task</a>
        <a href="/login">Logout</a>
    </div>