
    <div class="navbar">
        <a href="/admin">Dashboard</a>
        <a href="/manageusers">Manage Tasks</a>
        <a href="/create-task">Create Task</a>
        <a href="/logout">Logout</a>
    </div>