<nav class="navbar">
    <a href="#" class="nav-brand">Task Manager</a>
    <div class="nav-links">
        <a href="/user">Dashboard</a>
        <a href="/user">My Tasks</a>
        <a href="/user">Profile</a>
    </div>
</nav>